::-webkit-scrollbar {
  width: 5px;
  cursor:pointer;
}
::-webkit-scrollbar-thumb {
  background: #12d3cf;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: rgb(243, 243, 243);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #67eaca;

}


/*GENERAL-----------------------------------------*/
*{
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  position: relative;
}
p{
  
color: #272727;
}
.display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  border-radius: 35px;
  cursor: pointer;
  padding: 0px 20px;
  font-size: 14px;
  transition: 0.3s;
  height: 40px;
  font-weight: 600;
  
}
.btn:hover{
  transform: scale(1.05);
  background-color: #12d3cf;
  color:white;
}
.line-vertical{
    height: 30px;
    border: 0.5px solid #ffffff3d;
    margin: 0px 2px 0px;
}
.line-horizontal{
  display: block;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  margin: 7px 0;
}
.btn-curve{ /* Pendiente por quitar */
  padding: 0px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #67eaca;
}
.btn-icon{
  display: inline-block;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  background-color: initial;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0.8;
}
.btn-icon:hover{
  transform: scale(1.1);
}
.icon-text{
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 12px;
  background-color: white;
  margin-left: 0px;
  cursor: pointer;
  font-size: 14px;
}
.icon-text .btn-icon{
    margin-right: 7px;
}
.icon-arrow{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #67eaca;
  margin-left: 10px;
}
.icon-arrow-bottom{
  transform: rotate(180deg);
}
.icon-arrow-top{
  transform: rotate(-45deg);
}
.list-menu{
  position: absolute;
  width: min-content;
  background-color: white;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 7px -3px #67eaca;
  border: 1px solid #67eaca;
  z-index: 1;
  }

.list-menu .icon-text:hover{
    font-weight: bold;
    color: black;
}
.icon-edit{
background-image: url(img/icon-edit.png);
}
.icon-delete{
    background-image: url(img/icon-delete.png);
}
.icon-public{
  background-image: url(img/icon-public.png);
}
.icon-private{
  background-image: url(img/icon-private.png);
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.none {
  display:none;
}
/*------------------------*/
body{
  font-family: 'Montserrat', sans-serif;
  color: #6d8d8d;
  background-color: #f4fefc;
}
.sec-autentificacion{
  flex-direction: column;
  background-color: #fcf9ec;
  min-height: 100vh;
  width: 100%;
}
.img-logo{
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  background-image: url(img/logo-color.png);
  background-size: cover;
}
.sec-autentificacion .text-peq{
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin-top: 30px;
}
.text-login{margin-bottom: 10px;font-size: 18px;text-align: center;}

.banner .text-login{
  display:none;
}

.sec-autentificacion h1{
  width: 200px;
  height: 138px;
  font-size: 0;
  background-image: url(img/logo-color.png);
  background-size: 100%;
}
.form-login{
  flex-direction: column;
  margin-top: 30px;
  width: 320px;
}
.login-input{
  width: 270px;
  background-color: white;
  color: #444444;
  padding: 12px 24px;
  border-radius: 25px;
  border: 1px solid #67eaca;
  margin-top: 15px;
}
.icon-input{
  background-size: cover;
  width: 17px;
  height: 17px;
  position: absolute;
  cursor: pointer;
}
.info-alert{
  border: 1px solid #ff0c19;
}
.ms-info-alert{
  color: #ff0c19;
  width: 250px;
  text-align: center;
  font-size: 12px;
  margin: 7px 0 10px;
  /* height: 30px; */
}
.icon-alert{
  background-image: url(img/icon-alert.png);
  bottom: 9px;
  right: -25px;
}
.icon-clave{
  background-image: url(img/icon-mostrar.png);
  width: 17px;
  height: 17px;
  right: 13px;
  bottom: 10px;
}
.cont-acceso.click .icon-clave{
  opacity: 0.8;
}
.icon-clave.mostrar{
  background-image: url(img/icon-ocultar.png);
}
.login-btn{
  background-color: #12d3cf;
  color: white;
  min-width: 140px;
}
.cont-btn-redes{
  width: 100%;
  flex-wrap: wrap;
}
.cont-btn-redes button{
  background-size: 60%;
  width: 37px;
  height: 37px;
  margin-top: 15px;
  cursor: pointer;
}
.btn-google{
    background-color: #67eaca;
}
.sec-autentificacion .text-peq a{
  font-weight: bold;
}
/* user-card */
.user-card{flex-grow: 1;width: 30%;flex-direction: column;margin: 10px 15px 20px;justify-content: initial;max-width: 600px;min-width: 300px;}
.photo-current-user{
  width: 150px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 6px -3px #333333;
  z-index: 1;
}
.user-card-info{width: 100%;font-size: 13px;min-width: 150px;background-color: white;justify-content: flex-end;padding: 65px 40px 40px;border-radius: 8px;box-shadow: 0px 0px 5px -3px #12d3cf;margin-top: -40px;text-align: center;}
.container-net{
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 20px;
}
/*Formulario-----------*/
.container-post-form{
    width: 70%;
    flex-grow: 1;
    max-width: 600px;
    min-width: 300px;
}
/*Formulario------------------------*/
.box-form-user{
    background-color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #12d3cf;
    margin-bottom: 30px;
    align-items: flex-end;
}
.input-form-user{
    width: 100%;
    border: 1px solid #67eaca;
    padding: 16px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 70px;
    transition: 0.5s;
}
.img-loading-container{width: 100px;height: 100px;border: 2px dashed #dddfe2;overflow: hidden;margin-right: 20px;}
.remove-img{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    background-image: url(img/icon-close.png);
    background-size: 52%;
}
.btn-upload-img{
    height: 100%;
    width: 131%;
    font-size: 0;
    /* background-color: #d2691e42; */
    position: absolute;
    right: 0;
    margin: auto;
    z-index: 1;
    cursor: pointer;
}
.icon-more{
    background-image: url(img/icon-more.png);
    height: 35px;
    width: 35px;
}
.load-percentage{
    text-align: center;
    font-size: 11px;
}
.img-to-post{    
    height: 100%;
   
}
.container-more-percentage{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 90px;
    height: min-content;
    text-align: center;
}
.btn-form-user{margin: 0 8px;border: 1px solid #67eaca;}
.btn-publicar{
    margin-left: 0%;
    background-color: #12d3cf;
    color: white;
}
.box-form-user .list-menu{
    bottom: -56px;
    right: 132px;
}
/*Formulario Fin------------------------*/

/*Post------------------------*/
.box-post-user{background-color: white;width: 100%;border-radius: 8px;box-shadow: 0px 0px 5px -3px #12d3cf;padding: 20px;margin: 20px 0;}
.post-user-info{

background-color: white;

width: 100%;
}
.post-user-photo{
    border: 1px solid #67eaca;
    background-color: initial;
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 15px;
}
.post-user-name{
    color: #12d3cf;
    font-weight: bold;
    font-size: 17px;
}
.cont-post-user-date{
    justify-content: end;
    margin-top: 2px;
}
.post-user-date{
    float: left;
    font-size: 13px;
    margin-right: 12px;
    font-weight: bold;
}

.box-post-user .icon-public, 
.box-post-user .icon-private{border: 1px solid #67eaca;background-color: initial;background-size: 55%;height: 25px;width: 25px;}
.icon-menu-puntos{
    position: absolute;
    background-color: initial;
    background-image: url(img/icon-menu-minimo.png);
    width: 28px;
    height: 28px;
    top: -2px;
    right: -7px;
}
.post-user-cont{
    margin-top: 20px;
}
.post-user-text{
    font-size: 14px;
}
.post-user-img{
    width: 100%;
    margin: 12px 0;
}

.post-user-nav{
    justify-content: end;
}
.container-like{
    border-radius: 35px;
    border: 1px solid #67eaca;
    padding: 0px 12px;
    height: 40px;
}
.icon-like{
    background-image: url(img/icon-like.png);
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.icon-like:hover{
    background-image: url(img/icon-like-active.png);
}
.post-user-cant-like{
    font-size: 15px;
    font-weight: 600;
}
.icon-comentario{
  
background-image: url(img/icon-comentario.png);
}
.box-post-user .list-menu{
  top: 0;
  right: 19px;
  
  }
/*Post------------------------ Fin*/

@media (min-width: 801px) {
.banner{
width: 50%;
height: 100%;
flex-grow: 1;
background-image: url(img/fondo.gif);
background-size: cover;
flex-direction: column;
  }
   .banner:before{
     content: "";
     position:absolute;
     background-color: #12d3cfc9;
     height: 100%;
     width: 100%;
   }
.sec-autentificacion h1 {
    width: 200px;    
    background-image: url(img/logo.png);
}
.banner .text-login{
  margin: 20px 0;
  color: white;
  width: 80%;
  max-width: 360px;
  font-size: 20px;
  display: initial;
}
.sec-autentificacion {
width: 100%;
height: 100vh;
flex-direction: row;
}
.form-login {
  width: 50%;
  height: 100%;
  margin: 0;
}
.container-net{
    flex-wrap: nowrap;
}
}